# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS
.DS_Store

# Generated
jni++/src/test/java/dev/tmich/jnipp/test/swig

# IDE
.idea
cmake-build-*
.gradle
build
*.iml
/install
target
/examples/rust/src/bindings.rs
Cargo.lock
local.properties

